{{define "input_bool"}}
{{if or (eq .Value "true") (eq .Value "1")}}
<button type="button" class="ze-toggle ze-toggle-on"
        hx-post="/config/set/{{.Path}}" hx-swap="none"
        hx-vals='{"leaf":"{{.Leaf}}","value":"false"}'>on</button>
{{else if eq .Value "false"}}
<button type="button" class="ze-toggle ze-toggle-off"
        hx-post="/config/set/{{.Path}}" hx-swap="none"
        hx-vals='{"leaf":"{{.Leaf}}","value":"__default__"}'>off</button>
{{else}}
<button type="button" class="ze-toggle ze-toggle-default"
        hx-post="/config/set/{{.Path}}" hx-swap="none"
        hx-vals='{"leaf":"{{.Leaf}}","value":"true"}'>default</button>
{{end}}
{{end}}
