{{define "input_text"}}
<input type="text" class="ze-field-input{{if .Value}} ze-field-set{{end}}" name="value" value="{{.Value}}"
       hx-post="/config/set/{{.Path}}" hx-trigger="blur changed, keyup[key=='Enter']" hx-target="closest .ze-field" hx-swap="outerHTML"
       hx-vals='{"leaf":"{{.Leaf}}"}'
       {{- if .Pattern}} pattern="{{.Pattern}}"{{end}}
       {{- if and (not .Value) .Default}} placeholder="{{.Default}}"
       {{- else if and (not .Value) .Description}} placeholder="{{.Description}}"{{end}}>
{{- if .Value}}<span class="ze-field-tag ze-field-tag-set">set</span>
{{- else if .Default}}<span class="ze-field-tag ze-field-tag-default">default</span>
{{- end}}
{{end}}
